<div class="container">
    <div class="row">
        <div class="buttonsel">
            <button  routerLink="/input" >Ввести работника</button>
        </div>
        <div class="buttonsel">
            <button routerLink="/print">Вывести работников</button>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-4">
            <router-outlet ></router-outlet>
        </div>
    </div>
</div>

<!-- <app-input (outToParent)='receiveFromChild($event)'></app-input>  
<app-print [workersFromParent]= workers></app-print>

<button routerLink="/print">print</button>
-->