@import "~@vtb/fe-ui-theme/styles";

$font-family-base: Roboto, Arial, sans-serif;
$font-size-p: 14px;
$font-size-p-sm: 12px;
$font-size-p-big: 18px;
// titles and headers
$font-size-h1: 20px;
$font-size-h2: 16px;
$font-size-h3: 14px;
$font-size-h4: 12px;

$font-weight-bold: 500;
// TODO Ask designers.
$normal-font-size: 14px;
$small-font-size: 12px;
